* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #39e75f;
    color: #333;
    padding: 20px 0;
}

header .logo h1 {
    text-align: center;
    font-size: 24px;
}

nav ul {
    list-style: none;
    text-align: center;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.hero {
    background: url('https://www.shutterstock.com/image-photo/book-stack-opened-on-desk-260nw-2318012963.jpg') no-repeat center center/cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    text-align: center;
}

.hero-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    padding: 10px 20px;
    background-color: #39e75f;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #39e75f;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #fff;
}

.feature {
    max-width: 300px;
    text-align: center;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

footer {
    background-color:#39e75f;
    color: #333;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}
